@{
    ViewData["Title"] = "15-06";
}

<script src="~/js/num2word.js"></script>
<script src="~/js/BoldAndAddSpace.js"></script>

<div class="container-fluid py-3">

    <!-- Tiêu đề -->
    <div class="mb-4">
        <textarea id="TieuDe" name="TieuDe" rows="3" class="form-control bg-light text-center">Tờ trình xin chủ trương</textarea>
    </div>

    <!-- Số tờ trình -->
    <div class="row g-2 align-items-center mb-4">

        <div class="col-auto">
            <label class="col-form-label">Số:</label>
        </div>
        <div class="col-auto">
            <input id="SoToTrinh" name="SoToTrinh" class="form-control text-center" value="/TTr-SXKD" />
        </div>

        <div class="col-auto ms-3">
            <label class="col-form-label">Ngày:</label>
        </div>
        <div class="col-1">
            <input id="NgayToTrinh" name="NgayToTrinh" class="form-control text-center" value="@DateTime.Now.Day" />
        </div>

        <div class="col-auto">
            <label class="col-form-label">Tháng:</label>
        </div>
        <div class="col-1">
            <input id="ThangToTrinh" name="ThangToTrinh" class="form-control text-center" value="@DateTime.Now.Month" />
        </div>

        <div class="col-auto">
            <label class="col-form-label">Năm:</label>
        </div>
        <div class="col-1">
            <input id="NamToTrinh" name="NamToTrinh" class="form-control text-center" value="@DateTime.Now.Year" />
        </div>
    </div>

    <!-- Dự án -->
    <div class="row mb-3">

        <label class="col-md-3 col-form-label text-md-end">
            Dự án:
        </label>

        <div class="col-md-6">
            <input list="TenDuAn" id="DuAn" name="DuAn" class="form-control" onclick="this.select()" />
        </div>

        <datalist id="TenDuAn">
            @foreach (string item in ViewBag.DuAns)
            {
                <option value="@item"></option>
            }
        </datalist>

    </div>

    <!-- Công trình -->
    <div class="row mb-3 text-md-end">

        <label class="col-md-3 col-form-label text-md-end">
            Công trình:
        </label>

        <div class="col-md-8">
            <input list="TenCongTrinh" id="CongTrinh" name="CongTrinh" class="form-control" onclick="this.select()" />
        </div>

        <datalist id="TenCongTrinh">
            @foreach (string item in ViewBag.CongTrinhs)
            {
                <option value="@item"></option>
            }
        </datalist>

    </div>

    <!-- Hạng mục -->
    <div class="row mb-3 align-items-center">

        <label class="col-md-3 col-form-label text-md-end">
            Hạng mục:
        </label>

        <div class="col-md-8">
            <textarea id="HangMuc" name="HangMuc" rows="2" class="form-control" onclick="this.select()">  </textarea>
        </div>
    </div>

    <!-- Địa điểm -->

    <div class="row mb-4 align-items-center">

        <label class="col-md-3 col-form-label text-md-end">
            Địa điểm:
        </label>

        <div class="col-md-6">
            <input id="DiaDiem" name="DiaDiem" class="form-control" value="Phường Chơn Thành, Thành phố Đồng Nai" />
        </div>

    </div>

    <!-- Quyết định lựa chọn đơn vị thi công -->
    <!-- Căn cứ -->
    <div class="fw-bold mt-4 mb-2">
        I. Quyết định lựa chọn đơn vị thi công:<br />
        1. Căn cứ:
    </div>

    <textarea id="CanCu" name="CanCu" rows="16" class="form-control mb-4" onclick="this.select()">   </textarea>

    <!-- nguyên nhân trình ký -->
    <div class="fw-bold mt-4 mb-2">
        2. Nguyên nhân trình ký:
    </div>

    <textarea id="NguyenNhanTrinhKy" name="NguyenNhanTrinhKy" rows="26" class="form-control mb-4" onclick="this.select()"></textarea>

    <!-- Đơn vị thực hiện -->
    <div class="card mt-4 mb-4">

        <div class="card-header fw-bold">
            3. Đơn vị thực hiện (Bên B)
        </div>

        <div class="card-body">

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">NCC</label>
                <div class="col-md-11">
                    <input id="NhaCungCap" name="NhaCungCap" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">Địa chỉ</label>
                <div class="col-md-11">
                    <input id="Diachi" name="Diachi" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">SĐT</label>
                <div class="col-md-4">
                    <input id="SoDienThoai" name="SoDienThoai" class="form-control" />
                </div>

                <label class="col-md-2 col-form-label text-md-end">Email</label>
                <div class="col-md-5">
                    <input id="Email" name="Email" value="@@gmail.com" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">STK</label>
                <div class="col-md-11">
                    <input id="STK1" name="STK1" class="form-control mb-2" />
                    <input id="STK2" name="STK2" class="form-control" />
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-md-1 col-form-label">MST</label>
                <div class="col-md-4">
                    <input id="MST" name="MST" class="form-control fw-bold" oninput="BoldAndAddSpace(this)" />
                </div>
            </div>


            <div class="row align-items-center">

                <label class="col-md-1 col-form-label">Đại diện</label>

                <div class="col-md-4">
                    <input id="DaiDien" name="DaiDien" class="form-control" value="Ông " />
                </div>

                <label class="col-md-2 col-form-label text-md-end">Chức vụ</label>

                <div class="col-md-4">
                    <select id="ChucVu" name="ChucVu" class="form-select">
                        <option>Tổng Giám đốc</option>
                        <option>Phó Tổng Giám đốc</option>
                        <option>Giám đốc</option>
                        <option>Phó Giám đốc</option>
                    </select>
                </div>
            </div>

        </div>

    </div>

    <!-- Nội dung hợp đồng -->
    <div class="fw-bold mb-2">
        II. Nội dung trình ký:<br />
        1. Nội dung
    </div>

    <textarea id="NoiDung" name="NoiDung" rows="32" onclick="this.select()" class="form-control mb-4"></textarea>

    <!-- Giá trị hợp đồng -->
    <div class="card">

        <div class="card-header fw-bold">
            2.Giá trị hợp đồng
        </div>

        <div class="card-body">

            <!-- Row 1 -->
            <div class="row align-items-center mb-3">
                <label class="col-md-2 col-form-label">
                    Giá trị hợp đồng:
                </label>

                <div class="col-md-2">
                    <input id="Giatri" name="Giatri" class="form-control text-end" />
                </div>

                <div class="col-md-4">
                    <select id="LoaiGiaTri" name="LoaiGiaTri" class="form-select">
                        <option>đồng (chưa bao gồm thuế GTGT)</option>
                        <option>đồng (đã bao gồm thuế GTGT)</option>
                    </select>
                </div>
            </div>

            <!-- Row 2 -->
            <div class="row align-items-center">
                <label class="col-md-2 col-form-label">
                    Bằng chữ:
                </label>

                <div class="col-md-9">
                    <input id="GiatriChu" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>

    <!-- Thời gian thực hiện -->
    <div class="card mt-4 mb-4">

        <div class="card-header fw-bold">3. Thời gian thực hiện</div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <textarea id="ThoiGianThucHien" name="ThoiGianThucHien" rows="3" class="form-control" onclick="this.select()">Thời gian</textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- 4.	Hình thức, tiến độ và thời gian thanh toán  -->
    <div class="card mt-4 mb-4">

        <div class="card-header fw-bold">4.	Hình thức, tiến độ và thời gian thanh toán</div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <textarea id="ThanhToan" name="ThanhToan" rows="10" class="form-control" onclick="this.select()">Thanh toán</textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- 5.	Hiệu lực  -->
    <div class="card">

        <div class="card-header fw-bold">5. Hiệu lực</div>

        <div class="card-body">
            <textarea id="HieuLuc" name="HieuLuc" class="form-control" onclick="this.select()">Có hiệu lực kể từ ngày ký kết</textarea>
        </div>
    </div>


</div>

